---
import Layout from "../layouts/Layout.astro";
import { ArrowUpRight } from "lucide-astro";
---

<Layout title="jr">
  <main class="px-5 md:px-12 py-12 sm:py-24 max-w-5xl mx-auto">
    <p class="text-4xl font-bold font-serif">jr.</p>
    <p class="mt-8 leading-8">
      frontend focused software engineer, <br /> currently
      <a
        href="https://railway.app"
        class="text-pink-600 hover:underline"
        target="_blank">@railway</a
      >
    </p>

    <div class="mt-12">
      <p class="">find me on the internet</p>

      <ul class="font-medium mt-4 grid gap-2 text-article">
        <li>
          <a
            href="https://github.com/coffee-cup"
            class="flex items-center gap-2 max-w-max hover:underline"
            target="_blank"
          >
            github
            <ArrowUpRight size="16" />
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/jakerunzer"
            class="flex items-center gap-2 max-w-max hover:underline"
            target="_blank"
          >
            twitter
            <ArrowUpRight size="16" />
          </a>
        </li>
      </ul>
    </div>
  </main>
</Layout>
