---
import Layout from "../layouts/Layout.astro";
import { ArrowUpRight } from "lucide-astro";
---

<Layout title="jr">
  <main class="px-8 md:px-12 max-w-5xl mx-auto">
    <div class="mt-12 sm:mt-20 py-8">
      <p class="text-3xl font-bold">jr.</p>
      <p class="mt-8 text-gray-800 text-base leading-8">
        frontend focused software engineer, <br /> currently
        <a
          href="https://railway.app"
          class="text-pink-600 hover:underline"
          target="_blank">@railway</a
        >
      </p>

      <div class="mt-12">
        <p class="">find me on the internet</p>

        <ul class="font-medium mt-4 grid gap-2 text-gray-500">
          <li>
            <a
              href="https://github.com/coffee-cup"
              class="flex items-center gap-2 max-w-max hover:underline"
              target="_blank"
            >
              github
              <ArrowUpRight size="16" />
            </a>
          </li>
          <li>
            <a
              href="https://twitter.com/jakerunzer"
              class="flex items-center gap-2 max-w-max hover:underline"
              target="_blank"
            >
              twitter
              <ArrowUpRight size="16" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </main>
</Layout>
