---
interface Props {}

const {} = Astro.props;

import ThemeIcon from "./ThemeIcon.astro";
---

<nav
  class="flex gap-6 items-center justify-between px-5 md:px-12 py-6 max-w-5xl mx-auto"
>
  <ul class="flex gap-4 sm:gap-6 items-center justify-end font-medium text-sm">
    <li>
      <a
        href="/"
        class="text-fg opacity-50 hover:text-pink-600 hover:opacity-100">home</a
      >
    </li>

    <li>
      <a
        href="/projects"
        class="text-fg opacity-50 hover:text-pink-600 hover:opacity-100"
        >projects</a
      >
    </li>
    <li>
      <a
        href="/posts"
        class="text-fg opacity-50 hover:text-pink-600 hover:opacity-100"
        >posts</a
      >
    </li>
    <li>
      <a
        href="/bookmarks"
        class="text-fg opacity-50 hover:text-pink-600 hover:opacity-100"
        >bookmarks</a
      >
    </li>
  </ul>

  <ThemeIcon />
</nav>
