---
interface Props {
  title: string;
  date: string;
  href: string;
}

const { title, date, href } = Astro.props;

import FormattedDate from "./FormattedDate.astro";
---

<li class="not-prose flex gap-4 items-center justify-between w-full max-w-lg">
  <a href={href} class="group font-medium hover:text-pink-600">
    {title}
  </a>

  <FormattedDate
    date={date}
    className="text-gray-400 text-sm font-mono lowercase text-right"
  />
</li>
