---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main class="mt-20 px-8 md:px-12 max-w-5xl mx-auto prose">
    <slot />
  </main>
</Layout>
